.row {
  display: flex;
}

button {
  width: 40px;
}

button.doubleWide {
  width: 80px;
}

.container {
  text-align: center;
}

#calculator {
  width: 160px;
  display: inline-block;
}

#display {
  width: 100%;
  text-align: right;
}